# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
dist
dist-electron
build
.next
next-env.d.ts
out
coverage

# Environment files
.env*

# Java
*.class
target/
*.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db
