spring:
  application:
    name: auteur-api
  profiles:
    active: dev

server:
  port: 8080
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
