spring:
  application:
    name: auteur-api
  profiles:
    active: dev
  data:
    mongodb:
      uri: ${MONGODB_URI}
  jackson:
    property-naming-strategy: SNAKE_CASE

server:
  port: 8080
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
