logging:
  level:
    com.auteur: INFO
    org.springframework.web: INFO

server:
  error:
    include-message: never
    include-binding-errors: never

spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
